@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "flickity/dist/flickity.min.css";
@source "../views/";
@source "../../app/";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1640px;
  --breakpoint-display: 2000px;

  --color-black: #171717;
  --color-red: #e63812;
  --color-white: #ffffff;

  --text-*: initial;

  --text-10: calc(10 / 16 * 1rem);
  --text-10--line-height: 1;

  --text-14: calc(14 / 16 * 1rem);
  --text-14--line-height: 1.1875;

  --text-16: calc(16 / 16 * 1rem);
  --text-16--line-height: 1.1875;

  --text-18: calc(18 / 16 * 1rem);
  --text-18--line-height: 1.194;

  --text-24: calc(24 / 16 * 1rem);
  --text-24--line-height: 1;

  --text-30: calc(30 / 16 * 1rem);
  --text-30--line-height: 1;

  --text-32: calc(32 / 16 * 1rem);
  --text-32--line-height: 1;

  --text-50: calc(50 / 16 * 1rem);
  --text-50--line-height: 1;

  --font-sans:
    "Montserrat", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  @apply overscroll-none;
}
body {
  @apply bg-white text-red font-sans font-medium antialiased overflow-x-clip;
  @apply overscroll-y-none;
}

.container {
  @apply max-w-none mx-auto px-5;
}

.max-container {
  max-width: calc(1680 / 16 * 1rem);
}

.grid {
  @apply grid-cols-12 gap-x-5;
}

.link-btn {
  @apply underline underline-offset-3 decoration-1;

  &:after {
    @apply content-['\00a0→'] text-[0.75em];
  }
}

.richtext {
  > * {
    margin: 2rem 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  strong {
    @apply font-bold;
  }

  ul {
    list-style: disc;
    margin-left: 1em;
    li {
      margin-bottom: 0.5rem;
    }
  }

  ol {
    list-style: numeric;
    margin-left: 1em;
    li {
      margin-bottom: 0.5rem;
    }
  }

  blockquote {
    @apply border-l-2 pl-4 text-balance;
    border-color: var(--color-red);
  }
}

.flickity-viewport {
  overflow: initial;
}

[x-cloak] {
  display: none !important;
}
